body {
    background-image: url("https://source.unsplash.com/1380x00/?dark");
    background-repeat: no-repeat;
    animation: myAnim 5s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}


.card {
    margin-top: 60px;
    background-color: rgb(59, 58, 58);
    max-width: 300px;
    height: 500px;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;


}

.card:hover {
    transform: skew(-6deg, 3deg);
    outline: 6px solid #ffee00;
    transition: outline 2s ease 0s;
}



.profile {
    text-align: center;
}


.profile img {
    max-width: 130px;
    margin-top: 33px;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 50%;
}

.name {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hello {
    margin-bottom: -20px;
    margin-right: 174px;
}

.bio {
    margin-left: 6px;
    margin-right: 7px;
}

.link {
    text-align: center;
    margin-top: 90px;
}


.icoin {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.link span:hover {
    padding-left: 3px;
    color: rgb(255, 217, 0);
}
