
.card{
    background-color: blueviolet;
    width: 300px;
    height: 500px;
    border-radius: 9px;
    margin: auto;
   }


 .profile{
    text-align: center;
   }


   .profile img{
    width: 175px;
    margin-top: 33px;
    height: 170px;
    border: 2px rgb(251, 255, 0) solid;
    border-radius: 50%;
}

.name{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hello{
    margin-bottom: -20px;
    margin-right: 174px;
}

.bio{
margin-left: 6px;
margin-right: 7px;
}